.country-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-containe {
  position: relative;
}

.home {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 90%;
  top: 4%;
}

.flag-containerd {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2%;
}

.flagd {
  max-width: 40%;
  height: 60%;
}

.country-name {
  max-width: max-content;
  text-align: justify;
}

.country-information {
  background-color: #395996;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 0 10px 10px;
  font-size: 30px;
}

.light {
  background-color: #4369b2;
}
