.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  border: 5px solid #fff;
  width: 50%;
  border-radius: 6px;
  padding: 5px;
}

.search {
  background-color: #4369b2;
  width: 100%;
  border: none;
  padding: 5px;
  color: #fff;
  outline: none;
}

.search-icon {
  width: 25px;
  height: 25px;
}

.continents-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 5px;
  margin: 42px 10px 42px 10px;
}

.continent-map {
  width: 250px;
  height: 250px;
}

.hidecountry {
  display: none;
}
